@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    background-color: #DEDBD2;
    font-family: 'Pacifico', cursive;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    border: 0;
    bottom: 0;
    right: 0;
}
footer {
    background-color: #B0C4B1;
    border-left: #4A5759 60px solid;
    border-right: #4A5759 60px solid;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
header {
    background-color: #B0C4B1;
    border-left: #4A5759 60px solid;
    border-right: #4A5759 60px solid;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
main {
    padding-top: 15px;
    padding-bottom: 30px;
    border-left: #B0C4B1 60px solid;
    border-right: #B0C4B1 60px solid;
}
.logo-calculadora2 {
    position: fixed;
    top: 30%;
    right: 0;
    height: 50px;
    width: 50px;
    background-color:#7190ad;
    padding: 10px;
    border-radius: 15px;
}
.logo {
    border-radius: 60%;
    height: 90%;
}
.dinero {
    background-color: #F7E1D7;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.dinero h2 {
    background-color: #F7E1D7;
    width: fit-content;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 2%;
    padding-right: 2%;
}
.dinero h1 {
    background-color: #F7E1D7;
    width:75%;
    font-size: 45px;
    margin-left: 2%;
    margin-right: 10%;
    margin-top: 10px;
    border-top-right-radius: 15px;
}
.button {
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-left: 35px;
    margin-right: -20px;
    background-color: #B0C4B1;
}
.button a {
    color: black;
    text-decoration: none;
}
.button-color1 {
    background-color: #B0C4B1;
}
.button-color2 {
    background-color: #8ab48d;
}
.opciones-moneda {
    background-color:#B0C4B1;
    width: 15%;
    margin-left: 5%;
    margin-right: 80%;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content:space-around;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
}
.opciones-moneda h4 {
    background-color:#B0C4B1;
    width: fit-content;
    margin-right: 5px;
    margin-left: 5px;
}
.forms2 {
    height: 470px !important;
}
.forms2 h3 {
    width: 50% !important;
    height: 40px;
    text-align: center;
    padding: 15px 0 0px 0;
}
.forms {
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    padding-top: 10px;
    width: 90%;
    height: 280px;
    background-color: #F7E1D7;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
}
.forms h1 {
    background-color: #F7E1D7;
    margin-left: 5%;
    width: 90% !important;
    height: fit-content;
}
.forms label {
    background-color: #F7E1D7;
    font-size: 25px;
    margin-left: 2%;
    margin-top: 20px;
    height: fit-content;
}
.forms input {
    width: 90%;
    border-radius: 5px;
    display: flex;
    margin: 20px 5% 0 5%;
    height: 40px;
    font-size: 20px;
}
.button-submit {
    height: fit-content;
    display: flex;
    width: 10% !important;
    margin-left: 85% !important;
    align-self: flex-end;
    text-align: center;
}
.position-relative {
    position: absolute;
    top: 160px;
    left: 100px;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.display-none {
    display: none;
}
.alertas {
    width: 90%;
    height: 25px;
    margin: 5px 5% 0 5%;
    background-color: #EDAFB8;
    padding-left: 10px;
}
.calculadora {
    width: 20%;
    background-color: #7190ad;
    display: flex;
    height: fit-content;
    padding-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    position: absolute;
    top: 40%;
    right: 0;
    z-index: 3;
}
.calc-opcion1 {
    background-color: #44617c;
}
.calc-opcion2 {
    background-color: #4e7294;
}
.calculadora h5 {
    width: 25%;
    height: 20px;
    text-align: center;
    font-size: 15px;
}
.h5-borde1 {
    border-top-left-radius: 15px;
}
.h5-borde2 {
    border-top-right-radius: 15px;
}
.none {
    display: none !important;
}
#cbu {
    width: 100%;
    background-color: #F7E1D7;
    padding: 20px 0 0 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
#alias {
    width: 100%;
    background-color: #F7E1D7;
    padding: 20px 0 0 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
#cbu input {
    margin-bottom: 20px;
}
#alias input {
    margin-bottom: 20px;
}
#calculadora3 {
    height: 180px;
    background-color: #7190ad;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 0 5px;
}
.input-c1 {
    width: 30%;
    margin: 0 5px 0 0;
    height: 15%;
    border-radius: 5px;
}
.input-c2 {
    width: 30%;
    height: 15%;
    margin-top: -30px;
    margin-left: 5px;
    border-radius: 5px;
}
.submit-calc {
    width: 15%;
    margin: 0px 42.5% 0 42.5%;
    border-radius: 5px;
}
.resultado1 {
    background-color: #DEDBD2 !important;
    border-radius: 5px;
    width: 90%;
    text-align: center;
}
#calculadora1 {
    background-color: #7190ad;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 5px 0 5px;
    height: 180px;
}
#calculadora4 {
    height: 180px;
    background-color: #7190ad;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 0 5px;
}
#calculadora4 input {
    width: 40%;
    height: 15%;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
}
#calculadora4 h2 {
    background-color: #7190ad;
    margin: 0 5px 0 5px ;
}
#calculadora2 {
    height: 180px;
    background-color: #7190ad;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 5px 0 5px;
}
#calculadora2 input {
    width: 95%;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
}
#calculadora2 h4 {
    background-color: #7190ad;
    width: 90%;
    text-align: center;
}
#calculadora2 .submit-calc2 {
    width: 15%;
}
#calculadora1 input {
    width: 95%;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
}
#calculadora1 button {
    width: 22%;
    margin: 5px 2px 5px 2px;
    border-radius: 5px;
}
#historial-section {
    height: fit-content;
    padding: 10px 0 30px 0 !important;
}
#ubicacion-movimientos {
    width: 100%;
    height: 100%;
    background-color: #F7E1D7;
    border-radius: 15px;
}
#ubicacion-movimientos h3 {
    height: fit-content;
    width: 95%;
    margin: 10px 2.5% 10px 2.5%;
    padding: 10px 5px 10px 10px !important;
    border-radius: 15px;
    background-color: #DEDBD2;
    font-weight: 300;
}